@import "~bootstrap/scss/bootstrap";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;

    }
}
.comics-image {
    height: 600px;
    object-fit: contain;
}

.modal-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
